<!DOCTYPE html>
{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <title>Dulceria :D</title>

    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dulceria.css' %}" />

</head>

<body>
    <div class="wrapper_regresar">
        <div class="container_button_regresar">
            <a href="/usuario"><button type="button" class="button_regresar"></button></a>
        </div>
        <div class="texto_regresar">
            <p>Regresar</p>
        </div>
    </div>
</body>

</html>
