<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleto</title>
</head>
<body>
    <h1>Detalle Boleto</h1>
        <div>ID: {{boleto.id}}</div>
        <div>Funcion: {{boleto.funcion}}</div>
        <div>Numero de asiento: {{boleto.numero_asiento}}</div>
        <div>Precio del boleto: $ {{boleto.precio}}</div>
        <a href="{% url 'index' %}">Regresar al incio</a>
</body>
</html>